footer.footer
  .footer-1
   .footer__menu
    ul
     li
      a(href="#") Условия использования
     li
      a(href="#") Политика Конфеденциальности
     li
      a(href="#") Поставки продукции
     li
      a(href="#") Для дистрибьюторов компании
   .footer__social-buttons
    .social-buttons__title| Следите за нами:
    a(href="#").social-buttons__button.social-btw
    a(href="#").social-buttons__button.social-kh
    a(href="#").social-buttons__button.social-twitter
    a(href="#").social-buttons__button.social-twitter
    a(href="#").social-buttons__button.social-youtube
    a(href="#").social-buttons__button.social-google
  .footer-2
   .footer__copyright
    p © ООО «Джонсон & Джонсон», Россия, 2017г.
    p Этот сайт принадлежит компании ООО «Джонсон & Джонсон», которая полностью отвечает за его содержимое.
    p Сайт ориентирован на физических и юридических лиц из России.
    p Последнее обновление: 26 сентября 2017 г.
script(src="js/app.bundle.js")
