header.header
  .main-carousel
   .carousel-cell
    section.promo-slide
     .promo-slide__media
      img(src="img/image-1.jpg" alt="Image Title")
     .promo-slide__content
      .promo-slide__header Лекарственные средства
      .promo-slide__read
       a(href="#").promo-slide__read-button Подробнее
       button.icon-arrow-red-right
   .carousel-cell
    section.promo-slide
     .promo-slide__media
      img(src="img/image-1.jpg" alt="Image Title")
     .promo-slide__content
      .promo-slide__header Лекарственные средства
      .promo-slide__read
       a(href="#").promo-slide__read-button Подробнее
       button.icon-arrow-red-right
   .carousel-cell
    section.promo-slide
     .promo-slide__media
      img(src="img/image-1.jpg" alt="Image Title")
     .promo-slide__content
      .promo-slide__header Лекарственные средства
      .promo-slide__read
       a(href="#").promo-slide__read-button Подробнее
       button.icon-arrow-red-right
  include menu
