section.menu

  .menu__header

  .menu__body
   .menu__side
     button.icon-burger
      img(src="img/svg/icons/icon-burger.svg")
     button.icon-search

   nav.menu__nav
     ul.nav__list
       li.nav__list-title Компания
       li
        a(href="#") Наше кредо
       li
        a(href="#") История
       li
        a(href="#") Новости
       li
        a(href="#") Корпоративная культура
       li
        a(href="#") Социальная ответственность
       li
        a(href="#") Кодекс делового поведения
       li
        a(href="#") Карьера

     ul.nav__list.margin-top
       li.nav__list-title Подразделения
       li
        a(href="#") Потребительские товары
       li
        a(href="#") Лекарственные средства
       li
        a(href="#") Изделия медицинского назначения и оборудование
       ul.nav__list.sub
        li
         a(href="#") Хирургия
        li
         a(href="#") Травмотология и ортопедия
        li
         a(href="#") Кардиология/другие специальности
     ul.nav__list.margin-top
       li.nav__list-title Контакты
       ul.nav__list.sub
        li
         a(href="#") Центральный офис
        li
         a(href="#") Региональные офисы
        li
         a(href="#") Контакты для СМИ
