section.news-grid
 ul.news-grid__items
  li.news-grid__items-item.news-grid__two-col
   .news-grid__content
    span.news-grid__date 03 октября, 2017
    a(href="#").news-grid__header Юлия Маркова вошла в топ-25 женщин-СЕО российского бизнеса по версии РБК
    .news-grid__read
     a(href="#").news-grid__read_text Читать
     button.icon-arrow-red-right
   img(src="img/image-2.png" alt="Image Title")
  li.news-grid__items-item.news-grid__one-col
   a(href="#")
    img(src="img/image-3.png" alt="Image Title")
   .news-grid__content
    span.news-grid__date 03 октября, 2017
    a(href="#").news-grid__header Дуглас Уоллес стал лауреатом Премии Пола Янссена за достижения в области биомедицинских исследований...
  li.news-grid__items-item.news-grid__one-col
   a(href="#")
    img(src="img/image-4.png" alt="Image Title")
   .news-grid__content
    span.news-grid__date 03 октября, 2017
    a(href="#").news-grid__header Компания «Янсен» запускает сайт www.schizophrenia24x7.ru в помощь пациентам с шизофренией...
  li.news-grid__items-item.news-grid__one-col
   a(href="#")
    img(src="img/image-5.png" alt="Image Title")
   .news-grid__content
    span.news-grid__date 03 октября, 2017
    a(href="#").news-grid__header «Джонсон & Джонсон» представляет новое направление CERENOVUS
  li.news-grid__items-item.news-grid__one-col
   a(href="#")
    img(src="img/image-6.png" alt="Image Title")
   .news-grid__content
    span.news-grid__date 03 октября, 2017
    a(href="#").news-grid__header «Янссен» объявляет об изменениях в руководстве компании в России и СНГ
 .news-grid__all-news
  a(href="#").news-grid__all-news_text Все новости
  button.icon-arrow-red-right
